<% provide(:title, "About") %>



    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>

 
    <h1>About Web Development 1</h1>
    <p>
  Introduction to framework-based web development. Students create interactive, dynamic web sites using a common web architecture and object-based database access. Programming for web development includes control structures, objects, functions, and use of composite data types. Prerequisite: IT 130
</p>
 




