<% provide(:title, "Help") %>



        <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>


    <h1>Help</h1>
    
    <p>If you have any questions, feel free to contact Yusra at yusrahasan96@gmail.com</p>
    
    <p>You can also find information about the school this class originates from https://www.depaul.edu <a href="https://www.depaul.edu"> </p>  

