<% provide(:title, "Home") %>


  
     <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
 
  <center><img src="welcome.png" alt="welcome" height="300"></center>

    <h1>Yusra's App</h1>
    <h2>This is my app used to complete labs for IT231-501.</h2>
    <br><br><br><br><br><br><br><br><br>
    <p> Source for welcome picture: <a href=http://s3.amazonaws.com/libapps/accounts/44105/images/welcome_thumb_tacks_1600_clr_9661.png>http://s3.amazonaws.com/libapps/accounts/44105/images/welcome_thumb_tacks_1600_clr_9661.png</a> </p>
  
